.myModal {
    .myTabs {
        display: flex;
        justify-content: center;
        align-items: center;

        .navBtn {
            color: white !important;
            background-color: rebeccapurple !important;
            margin-inline: 10px;
        }
    }

    .signUpHolder {
        form {
            input {
                border-radius: 25px;
                outline: none;
                border: 2px solid rebeccapurple;
                margin: 5px;
                padding: 5px 40px;
                text-align: center;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        }

        button {
            padding-inline: 25px;
        }
    }

    .signInHolder {
        form {
            input {
                border-radius: 25px;
                outline: none;
                border: 2px solid rebeccapurple;
                margin: 5px;
                padding: 5px 40px;
                text-align: center;
            }
        }

        button {
            color: white !important;
            background-color: rebeccapurple !important;
            outline: none;
            border: none;
            padding-inline: 20px;
            border-radius: 50px;
        }
    }
}