@font-face {
    font-family: "choco";
    src: url("../assets/fonts/Choco.otf");
}

.choco{
    font-family: "choco" !important;
}

@font-face {
    font-family: "pacifico";
    src: url("../assets/fonts/Pacifico-Regular.ttf");
}

.pacifico{
    font-family: "pacifico" !important;
}

@font-face {
    font-family: "wonka";
    src: url("../assets/fonts/WillyWonka.ttf");
}

.wonka {
    font-family: "wonka" !important;
}