.carousel {
    height: 65vh;

    .carousel-inner {
        width: 550px;
        height: 450px;

        .carousel-item {
            .imgHolder {
                img {
                    box-shadow: 0px 0px 20px #5a0385;
                    height: 350px;
                    width: 50%;
                    border-radius: 50%;
                }

                h1 {
                    text-decoration: underline #9609dc;
                    color: white;
                    font-family: "choco";
                    text-transform: uppercase;
                }
            }
        }
    }

    span {
        background-color: #5a0385;
        border-radius: 50%;
    }
}