.motionHolder {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 25px;
    // overflow: hidden;
    background-color: #90c;

    .uniqueHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-top: 20px;
        margin-right: 20%;
        perspective: 2000px;
        
        .uniqueImg {
            box-shadow: 0px 0px 25px #5a0385;
            height: 400px;
            width: 300px;
            border-radius: 25px;
            transform: rotateX(45deg);

            //this looks cool but unsupported in most browsers
            -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);

        }

        button {
            background-image: linear-gradient(to right, #bf45fc 0%, #9609dc 51%, #bf45fc 100%);
            margin: 10px;
            padding: 5px;
            transition: 0.7s;
            background-size: 200% auto;
            color: white;
            border-radius: 15px;
            border: none;
            outline: none;
            width: 50px;
            box-shadow: 0px 0px 10px #5a0385;
            font-weight: bolder;

        }

        button:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #111111;
        }

        button:active {
            transform: scale(1.1);
        }
    }
}

// .motionHolder::-webkit-scrollbar {
//     display: none;
// }