.motionHolder {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 25px;

    .uniqueHolder {
        display: flex;
        align-items: center;
        justify-content: center;

        .uniqueImg {
            height: 400px;
            width: 300px;
        }
    }
}