.navBar {
    position: fixed;
    top: 0;
    z-index: 111;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: "choco";
    background: rgb(155, 9, 227);
    background: radial-gradient(circle, rgba(155, 9, 227, 1) 0%, rgba(90, 3, 133, 1) 55%);

    a {
        color: white;
        text-decoration: none;
    }

    .active {
        color: #e100ff !important;
        padding: 10px;
        border-radius: 15px;
    }
}